@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 100vh;
  margin: 0; 
  background-color: black;
  font-family: 'Barlow', sans-serif;
}

.video {
  /* border: 1px solid yellow; */
  margin-top: -60px;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta la altura según tus necesidades */
}

.titulo{
  color: white;
  text-align: center;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  letter-spacing: 5px;
  font-size: 60px;
  text-shadow: 3px  3px 3px gray,
               3px  3px 3px gray,
               1px  1px 1px gray,
               0px  3px 3px gray;
               padding-top: 40px;
}

#capaBoton {
  position: absolute;
  top: 50%; /* Ajusta la posición vertical según tus necesidades */
  left: 50%; /* Ajusta la posición horizontal según tus necesidades */
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: #3498db; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none;
  font-size: 16px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

#capaBoton::before {
  content: '→'; /* Flecha hacia la derecha (→) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px; /* Ajusta el tamaño de la flecha según tus necesidades */
}

/* .boton{
  color:white;
  background-color: black;
} */


.card1{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.card1 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1{
  text-shadow: 3px  3px 3px gray,
               3px  3px 3px gray,
               1px  1px 1px gray,
               0px  3px 3px gray;
text-align: center;
color: white;
}

a {
  color: inherit; 
  text-decoration: none; 
}

.titulo{
  padding-top: 0px;
  opacity: 0.6;
}

.card1 .nav .nav2 {
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 20px;
  align-items: center;
  opacity: 0.6;
  color: white;
  margin-top: 30px;
  
}

.nav1{
  padding-top: 20px;
}

.menu{
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
}

header {
  aspect-ratio: 1.8;
  background-image: url('images/desktop/image-header.jpg');
  background-size: cover;
}

header h1 {
  text-transform: uppercase;
  color: var(--white);
  padding: 60px 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 50% 50%;          /* repeat(2, 1fr); */
  grid-template-rows: repeat(3, auto);
}

.grid1 .item h2 {
  color: white;
}

.grid1 .item h3 {
  color:white;
}

.grid1 .item {
  background-size: cover;
  aspect-ratio: 1.2;
  padding: 10% 20%;
}

.grid1 .item .learn {
  display: block;
  padding-top: 30px;
  color: gray;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
}

.item:nth-child(1), .item:nth-child(4), .item:nth-child(5), .item:nth-child(8), .item:nth-child(9), .item:nth-child(12), .item:nth-child(13), .item:nth-child(16),.item:nth-child(17), .item:nth-child(20), .item:nth-child(21), .item:nth-child(24), .item:nth-child(25) {
  text-align: left;
}

.item:nth-child(2) {
  background-image: url('imagenes/The\ Fast\ and\ the\ Furious.webp');
}

.item:nth-child(3) {
  background-image: url('imagenes/The\ Turbo\ Charged\ Prelude\ for\ 2\ Fast\ 2\ Furious.jpg');
}

.item:nth-child(6) {
  background-image: url('imagenes/2f2f.jpg');
}

.item:nth-child(7) {
  background-image: url('imagenes/tokyodrift.jpg');
}

.item:nth-child(10) {
  background-image: url('imagenes/Bandoleros.jpg');
}

.item:nth-child(11) {
  background-image: url('imagenes/fastAndFurius.jpg');
}

.item:nth-child(14) {
  background-image: url('imagenes/Fast\ Five.jpeg');
}

.item:nth-child(15) {
  background-image: url('imagenes/Fast\ &\ Furious\ 6.jpg');
}

.item:nth-child(18) {
  background-image: url('imagenes/Furious\ 7.webp');
}

.item:nth-child(19) {
  background-image: url('imagenes/The\ Fast\ of\ the\ Furious.webp');
}

.item:nth-child(22) {
  background-image: url('imagenes/Hobbs\ &\ Shaw.jpg');
}

.item:nth-child(23) {
  background-image: url('imagenes/F9.jpg');
}

.item:nth-child(26) {
  background-image: url('imagenes/fastx.jpeg');
}

p{
  color: white;
}


h1, h2, h3 {
  font-family: 'Fraunces', serif;
  margin-bottom: 20px;
}

.inicio{
  font-size: 20px;
}